
{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %} All Offers  {% endblock %}
{% block content %}


<legend>إضافة عرض</legend>
  <form id="offer_form"  method="post" class="form-horizontal" enctype="multipart/form-data" onsubmit="return is_valid();"> 

            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
            
            <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
            <input type="submit" name="submit" value="إرسال الطلب"  class="btn btn-primary btn-lg" />
            </div>
            </div>
        </form>
</div>


<script type="text/javascript">
$( document ).ready(function() {
	
	});
function is_valid(){
	x = parseInt(document.getElementById("id_price").value)
	y = parseInt(document.getElementById("id_after_price").value)
	if(y > x ){
		alert("السعر بعد الخصم يجب أن يكون أقل من أو يساوى السعر قبل الخصم")
		return false;
	}else {
		url =  document.getElementById("id_url");
		if(!url.value.startsWith("http://")){
			url.value = "http://" + url.value
		}
		return true;

	}
}

</script>
{% endblock %}


