{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} All Offers  {% endblock %}
{% block content %}
{% load carton_tags %}


<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-title-wrap">
					<div class="page-title-inner">
					<div class="row">
						<div class="col-md-4">
							<div class="bread"><a href="{% url 'list' %}">الرئيسية</a> &rsaquo; سلتى</div>
							<div class="bigtitle">سلتى</div>
						</div>
						
					</div>
					</div>
				</div>
			</div>
		</div>
		<div id="title-bg">
			<div class="title">سلتى</div>
		</div>
		
		<div class="table-responsive">
			<table id="cart-table" class="table table-bordered chart" dir="ltr">
				<thead>
					<tr>
						<th>رقم المنتج</th>
						<th>المنتج</th>
						<th>صورة المنتج</th>
						<th>التصنيف</th>
						<th>سعر الوحدة</th>
						<th>الكمية</th>
						<th>اﻻجمالى</th>
						<th>حذف</th>
					</tr>
				</thead>
				
				<tbody>
				{% for item in cart.items %}
					<tr>
						<td class="product-id" valign="middle">{{item.product.id}}</td>
						<td valign="middle">{{item.product.name}}</td>
						<td valign="middle"><img src="{{item.product.image.url}}" width="100" /></td>
						<td valign="middle">{{item.product.category}}</td>
						<td>{{item.product.price}}</td>
						<td class="product-qty"><center><form><input type="text" class="form-control quantity" name="quantity" value="{{item.quantity}}"></form></center></td>
						<td>
							<span id="{{item.product.id}}_total"> {{item.subtotal}} </span>
						</td>
						<td class="product-remove"><form><input type="checkbox"></form></td>
						</tr>
					{% endfor %}
					
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-md-6">
				
			</div>
			<div class="col-md-3 col-md-offset-3">
			<div class="subtotal-wrap">
				<div class="total">اجمالى الحساب : <span class="bigprice">{{cart.total}}</span></div>
				<a href="{% url 'checkout' %}" class="btn btn-default btn-red btn-sm">الدفع</a>
				<form id="update-form">
				 {% csrf_token %}
				<Button class="btn btn-default btn-red btn-sm">تحديث</Button>
				</form>
				<div class="clearfix"></div>
				<a href="{% url 'list' %}" class="btn btn-default btn-yellow">استكمال التسوق</a>
			</div>
			<div class="clearfix"></div>
			</div>
		</div>
		<div class="spacer"></div>
	</div>



	<script type="text/javascript">

        $(document).ready(function() {
         $("#update-form").submit(function(event){
          event.preventDefault();
          products_list = []
          $('#cart-table tr').each(function() {
          	qty = $(this).find('input:text').val();
          	console.log("qty: "+ qty)
          	remove = false;
          	product_id = $(this).find('td.product-id').text()
          	console.log("product_id: ", +product_id)
          	var box = $(this).find('input:checkbox');
			if(box.is(":checked")){
            	remove = true;                            
            }
            product_dict = {qty: qty, remove: remove, product_id: product_id}
            if (product_id != ""){
            products_list.push(product_dict)
            }

        });
          //add ajax request here
            $.ajax({
           type:"POST",
           url:"{% url 'cart-update'%}",
           data: {
             csrfmiddlewaretoken:'{{csrf_token}}' ,
             products_list: JSON.stringify(products_list),
           },
           success: function(status){
            $.notify("تم تحديث السلة بنجاح" , 'success')
           }
         });
           

          //end ajax
    });
  });

      </script>

{% endblock %}














