{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} All Offers  {% endblock %}
{% block content %}


<div class="row">
  <legend>{{name}}</legend>
  {% if products %}
  
  {%for  product in offers%}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      {% if offer.image %}
      <img src="/{{offer.image.url}}" style="width:300px;height:200px;">
      {% else %}
      
      {% endif %}
      <div class="caption">
        <h3>{{offer.product_name}}</h3>
        <p><ul>
          <li class="price">{{offer.price}}</li>
          <li class="after_price">{{offer.after_price}}</li>
          <li>{{offer.end_date}}</li>
          <li>
          <!-- <a href="{% url 'shop' offer.shop %}">{{ offer.shop }}</a></li> -->
          
          <a href="/products/register/">Register Here</a>

        </ul>
      </p>

    </div>
  </div>
</div>
  {%endfor%}


{% endif %}
</div>




{% endblock %}

