{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} All Offers  {% endblock %}
{% block content %}



<div class="row">
	<div class="col-md-12">
		<div class="page-title-wrap">
			<div class="page-title-inner">
				<div class="row">
					<div class="col-md-12">
						<div class="bread"><a href="{% url 'list'%}">الرئيسية</a> &rsaquo; الدفع</div>
						<div class="bigtitle">انت على وشك اتمام عملية الشراء</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<br>
<form action="{% url 'checkout' %}" method="post">
  
    {% csrf_token %}
	<div class="form-group">
		<label>ادخل رقم اﻻيداع</label>	
	</div>
	<div class="form-group">			
		<input type="text" name="receipt_no"><br>
	</div>
	<div class="form-group">
		<button class="btn btn-default btn-red btn-sm">تاكيد</button>
	</div>
</form>
{% endblock %}
