{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %} All Offers  {% endblock %}
{% block content %}

<!-- <div >
    <legend>أرسل رسالة</legend>
    <form id="message_form"  method="post" class="form-horizontal"> 

        {% csrf_token %}
        {{ form|bootstrap_horizontal }}

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <input type="submit" name="submit" value="إرسال"  class="btn btn-primary btn-lg" />
        </div>
    </div>
</form>
</div>
-->


<div id="title-bg">
    <div class="title">اتصل بنا</div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="page-content">
            للمساعدة يمكنك الاتصال بنا من خلال رقم هذا الهاتف أو أرسال رسالة من خلال ملى النموذج 
        </p>
        <ul class="contact-widget">
            <!-- <li class="fphone">+387 123 456, +387 123 456 <br /> +387 123 456</li> -->
            <li class="fmobile">00966-500-787-80</li>
            <li class="fmail lastone">your@email.com<br />customer.care@mail.com</li>
        </ul>
    </div>

    <div class="col-md-8">
        <!-- <legend>أرسل رسالة</legend> -->
        <form id="message_form"  method="post" class="form-horizontal"> 

            {% csrf_token %}
            {{ form|bootstrap_horizontal }}

            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <input type="submit" name="submit" value="إرسال"  class="btn btn-primary btn-lg" />
            </div>
        </div>
    </form>
</div>
</div>







<!-- 
        <div class="col-md-4">
        <div id="title-bg">
            <div class="title">أرسل رسالة</div>
        </div>
        <div class="qc">
            <form role="form">
                <div class="form-group">
                    <label for="name">Name<span>*</span></label>
                    <input type="text" class="form-control" id="name" >
                </div>
                <div class="form-group">
                    <label for="email">Email<span>*</span></label>
                    <input type="email" class="form-control" id="email" >
                </div>
                <div class="form-group">
                    <label for="text">Messages<span>*</span></label>
                    <textarea class="form-control" id="text" ></textarea>
                </div>
                <button type="submit" class="btn btn-default btn-red btn-sm">Submit</button>
            </form>
        </div>
        <div class="spacer"></div>
        </div>

    -->
    {% endblock %} 






