{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %} All Offers  {% endblock %}
{% block content %}


<div >
<legend>إضافة عرض</legend>
  <form id="offer_form"  method="post" class="form-horizontal" enctype="multipart/form-data"> 

            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
            
            <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
            <input type="submit" name="submit" value="إرسال الطلب"  class="btn btn-primary btn-lg" />
            </div>
            </div>
        </form>
</div>

{% endblock %} 