{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} All Offers  {% endblock %}
{% block content %}

<div class="error-code">
 {{error_code}}
</div>
<div class="erroring">
<div class="error-message">
<img src="{{ STATIC_URL }}images/error.png">
<br>
{{error_message}}
</div>
</div>








{% endblock %}
