{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %} All Offers  {% endblock %}
{% block content %}
<legend>تسجيل الدخول</legend>
<div class="col-lg-9">
<form id="login_form" method="post" class="form-horizontal">
    {% csrf_token %}
    {% if error %}
    <span class="error"> {{ error}}</span>
    {% endif %}
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label" >اسم المستخدم</label>
        <div class=" col-sm-10 col-lg-10 ">
            <input type="text" name="username" id="username" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">كلمة المرور</label>
        <div class=" col-sm-10 col-lg-10 ">
            <input type="password" id="password" name="password" value="" class="form-control" />
        </div>
    </div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <input type="submit"  value="دخول" class="btn btn-primary btn-lg"/>
    </div>
    </div>
</form>
</div>

{% endblock %}