{% extends 'base.html' %}
{% load staticfiles %}
{% load imagefit %}
{% block title %} All Offers  {% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}slider/slick.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}slider/slick-theme.css" />
<script type="text/javascript" src="{{STATIC_URL}}slider/slick.min.js"></script>
{% if products %}
 <div class="row prdct">    <!--Products-->
  <div class="container">
    <div class="clearfix"></div>
    <div class="lines"></div>
    <div class="main-slide"> <!-- main slider start  -->
      <div id="sync1" class="owl-carousel">
        {% for item in featured %}
        <div class="item">
          <div class="slide-desc">
            <div class="inner">
              <h1>{{item.name}}</h1>
              <p>
                {{item.desc}}
              </p>
              <a href="{% url 'product' product_id=item.id %}" class="btn btn-default btn-red btn-lg">عرض</a>
            </div>
            <div class="inner">
              <div class="pro-pricetag big-deal">
                <div class="inner">
                  <span class="oldprice">{{item.before_brice}}</span>
                  <span>{{item.price}}</span>
                  <span class="ondeal">أفضل عرض</span>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-type-1">
            <img src="{{item.image|resize:'450x350,c'}}" alt="" class="img-responsive"/>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="bar"></div>
    <div id="sync2" class="owl-carousel">
    {% for item in featured %}
      <div class="item">
        <div class="slide-type-1-sync">
          <h3>{{item.name}}</h3>
          <p>{{item.desc}}</p>
        </div>
      </div>

    {% endfor %}
    </div>

  </div> <!-- end container -->
<!-- main slider end  -->



<!-- secondary slider start  -->
<div class="f-widget featpro">
    <div class="container">
      <div id="title-widget-bg">
        <div class="title-widget">آخر منتجاتنا</div>
        <div class="carousel-nav">
          <a class="next"></a>
          <a class="prev"></a>
        </div>
      </div>
      <div id="product-carousel" class="owl-carousel owl-theme">
        {% for item in latest %}
        <div class="item">
          <div class="productwrap">
            <div class="pr-img">
              <div class="new"></div>
              <img src="{{item.image|resize:'207x136'}}" alt="" class="img-responsive"/>
              <div class="pricetag on-sale"><div class="inner on-sale"><span class="onsale"><span class="oldprice">{{item.before_price}}</span>{{item.price}}</span></div></div>
            </div>
              <span class="smalltitle"><a href="{% url 'product' product_id=item.id%}">{{item.name}}</a></span>
              <!-- <span class="smalldesc">Item no.: 1000</span> -->
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- secondary slider end  -->




<div id="title-bg">
    <div class="title">كل العروض </div>
</div>

  {% for product in products %}
  <div class="col-md-3">
    <a href="{% url 'product' product_id=product.id %}">
      <div class="productwrap">
        <div class="pr-img">

          <div {% if product.special %} class="hot"{% endif %} ></div>
          <img src="{{ product.image.url}}" alt="" class="img-responsive offer-image"/>
          <div class="pricetag on-sale ">
            <div class="inner on-sale">
              <span class="onsale">
                <span class="oldprice ">SR{{product.before_price}}</span>SR{{product.price}}
              </span></div>
            </div>
          </div>
          <span class="smalltitle"><a href="{% url 'product' product_id=product.id%}">{{product.name}}</a></span><br>
          <span class="smalldesc">المنتجات: {{product.category}}</span>

        </div>
      </a>

    </div>
    {% endfor %}

  </div> <!-- end row prod-->


  {% endif %}

{% if products %}
<nav>
  <ul class="pagination">
    {% if products.has_previous %}
    <li>
      <a href="?page={{ products.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for page in count %}
    <li {% if page == products.number %} class="active" {% endif %}><a href="?page={{page}}">{{page}}</a></li>
    {% endfor %}
    {% if products.has_next %}
    
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endif %}

<script type="text/javascript">
  $(document).ready(function(){
      // $('.product-slider').slick()({
      //   dots: true,
      //   infinite: true,
      //   speed: 700,
      //   autoplay:true,
      //   autoplaySpeed: 2000,
      //   arrows:false,
      //   slidesToShow: 4,
      //   slidesToScroll: 1
      // });
      $('.product-slider').slick({
        autoplay: true,
 // dots: true,
 infinite: true,
 rtl: true,
 speed: 300,
 slidesToShow: 4,
 slidesToScroll: 1,
 responsive: [
 {
  breakpoint: 1024,
  settings: {
    slidesToShow: 3,
    slidesToScroll: 3,
    infinite: true,
    dots: true
  }
},
{
  breakpoint: 600,
  settings: {
    slidesToShow: 2,
    slidesToScroll: 2
  }
},
{
  breakpoint: 480,
  settings: {
    slidesToShow: 1,
    slidesToScroll: 1
  }
}
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
    ]
  });

    });
  </script>
  {% endblock %}



