{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} All Offers  {% endblock %}
{% block content %}
{% load bootstrap %}

<form id="user_form" method="post" action="/register/"
enctype="multipart/form-data" class="form-horizontal">

{% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
                 {{ user_form|bootstrap_horizontal}}
                 {{ profile_form|bootstrap_horizontal}}
                 <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <!-- Provide a button to click to submit the form. -->
                        <input class="btn btn-default btn-yellow"type="submit" name="submit" value="تسجيل" />
                    </div>
                </div>
            </form>
            {% endblock %}