{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} All Offers  {% endblock %}
{% block content %}

<div class="row">

   {% if shop %}
   <h1>{{ shop.name }}</h1>
   {% if offers %}
   <ul>
    {% for offer in offers %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            {% if offer.image %}
            <img src="/{{offer.image.url}}" style="width:300px;height:200px;">
            {% else %}
            {% endif %}
            <div class="caption">
                <h3>{{offer.product_name}}</h3>
                <p><ul>
                    <li class="price">{{offer.price}}</li>
                    <li class="after_price">{{offer.after_price}}</li>
                    <li>{{offer.end_date}}</li>
                    <li>{{offer.cat_name}}</li>

                </ul></p>
            </div>
        </div>   
    </div>
    {% endfor %}
</ul>
{% else %}
<strong>No pages currently in category.</strong>
{% endif %}
{% else %}
The specified category {{ shop.name }} does not exist!
{% endif %}
{% endblock %}
