{% extends 'base.html' %}
{% load pagination_tags %}
{% load staticfiles %}
{% block title %} All Offers  {% endblock %}
{% block content %}


<div class="row">
<legend>عروضنا</legend>
  {% if offers %}
  {% autopaginate offers 2 %}
  {% for offer in offers %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    {% if offer.image %}
      <img src="/{{offer.image.url}}" style="width:300px;height:200px;">
      {% else %}
      
      {% endif %}
      <div class="caption">
        <h3>{{offer.product_name}}</h3>
        <p><ul>
            <li class="price">{{offer.price}}</li>
            <li class="after_price">{{offer.after_price}}</li>
            <li>{{offer.end_date}}</li>
            <li>{{offer.shop}}</li>
            <li>{{offer.category.name}}</li>
            <li>مميز</li>


        </ul></p>

      </div>
    </div>
  </div>
    {% endfor %}
    {% paginate %}
    {% endif %}
</div>




{% endblock %}
