{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %} All Offers  {% endblock %}
{% block content %}


{%if offer%}


	<legend> عرض {{offer.product_name}}</legend>
<div class="col-lg-6">
	<form id="offer_form" method="post" class="form-horizontal" enctype="multipart/form-data" > 


		{% csrf_token %}

		<!-- <div class="form-group">
			<label for="end_date" class="col-sm-2 control-label" >صورة العرض</label>
			<div class=" col-sm-2  ">
				
			</div>
		</div> -->

		<div class="form-group">
			<label for="product_name" class="col-sm-4 
 control-label" >اسم المنتج</label>
			<div class=" col-sm-6 ">
				<input type="text" name="product_name" id="product_name" value={{offer.product_name}}  readonly class="form-control" />
			</div>
		</div>

		<div class="form-group">
			<label for="url" class="col-sm-4 control-label" >عنوان الموقع</label>
			<div class=" col-sm-6 ">
				<input type="text" name="url" id="url" value={{offer.url}}  readonly class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="end_date" class="col-sm-4 control-label" >تاريخ انتهاء العرض</label>
			<div class=" col-sm-6 ">
				<input type="datefield" name="end_date" id="end_date" value={{offer.end_date.day}}-{{offer.end_date.month}}-{{offer.end_date.year}}  readonly class="form-control" />
			</div>
		</div>


		<div class="form-group">
			<label for="price" class="col-sm-4 control-label" >السعر</label>
			<div class=" col-sm-6 ">
				<input type="text" name="price" id="price" value={{offer.price}}  readonly class="form-control" />
			</div>
		</div>



		<div class="form-group">
			<label for="after_price" class="col-sm-4 control-label" >السعر بعد الخصم</label>
			<div class=" col-sm-6 ">
				<input type="text" name="after_price" id="after_price" value={{offer.after_price}}  readonly class="form-control" />
			</div>
		</div>



		<div class="form-group">
			<label for="special" class="col-sm-4 control-label" >عرض مميز</label>
			<div class="checkbox">
				<input type="checkbox" name="special" id="special" value={{ offer.special}}  readonly />
			</div>
		</div>




		<div class="form-group">
			<div class="col-sm-10 col-sm-offset-2">
				<input type="submit" name="submit" value="تعديل العرض"  class="btn btn-primary btn-lg" />
			</div>
		</div>



	</form>
</div>

<div  class="col-lg-4">
{% if offer.image %}
<img src="/{{offer.image.url}}" style="width:300px;height:200px;">
{% else %}

{% endif %}
</div>
{%endif%}

{% endblock %}
