{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} All Offers  {% endblock %}
{% block content %}
{% load carton_tags %}


<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-wrap">
                    <div class="page-title-inner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="bread"><a href="{% url 'list'%}">الرئيسية</a> &rsaquo; سلتى</div>
                            <div class="bigtitle">مشترياتى</div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="title-bg">
            <div class="title">جميع المشتريات</div>
        </div>
        {% for transaction in transactions %}
        <h4> {{transaction.created_at}} - الإجمالى : {{ transaction.total}}</h4>
        <div class="table-responsive">
            <table id="cart-table" class="table table-bordered chart" dir="ltr">
                <thead>
                    <tr>
                        <th>رقم المنتج</th>
                        <th>المنتج</th>
                        <th>صورة المنتج</th>
                        <th>التصنيف</th>
                        <th>سعر الوحدة</th>
                        <th>الكمية</th>
                        <th>اﻻجمالى</th>
                    </tr>
                </thead>
                
                <tbody>
                {% for item in transaction.transactionitem_set.all %}
                    <tr>
                        <td class="product-id" valign="middle">{{item.product.id}}</td>
                        <td valign="middle">{{item.product.name}}</td>
                        <td valign="middle"><img src="{{item.product.image.url}}" width="100" /></td>
                        <td valign="middle">{{item.product.category}}</td>
                        <td>{{item.product.price}}</td>
                        <td class="product-qty"><center><span>{{item.quantity}} </span></center></td>
                        <td>
                            <span id="{{item.product.id}}_total"> {{item.subtotal}} </span>
                        </td>
          
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            {% endfor %}
        </div>
        <div class="spacer"></div>
    </div>

{% endblock %}
