{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} All Offers  {% endblock %}
{% block content %}


<legend>{{shop.name}}</legend>
  {% if shop %}

<div class="row">

  <div class="form-group">
      <label for="user" class="col-sm-2 
 control-label" >اسم المستخدم</label>
      <div class=" col-sm-6 ">
        <input type="text" name="user" id="user" value={{shop.user}}  readonly class="form-control" />
      </div>
    </div>
    </div>

<div class="row">

    <div class="form-group">
      <label for="name" class="col-sm-2 control-label" >اسم المتجر</label>
      <div class=" col-sm-6 ">
        <input type="text" name="name" id="name" value={{shop.name}}  readonly class="form-control" />
      </div>
    </div>
    </div> 

      
    <div class="row">

    <div class="form-group">
      <label for="url" class="col-sm-2 control-label" >عنوان المتجر</label>
      <div class=" col-sm-6 ">
        <input type="datefield" name="url" id="url" value={{shop.url}}  readonly class="form-control" />
      </div>
    </div>
    </div>


    


    

  
    {% endif %}




{% endblock %}

