{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} All Offers  {% endblock %}
{% block content %}



<div class="page-title-wrap">
  <div class="page-title-inner">
    <div class="row">
      <div class="col-md-4">
        <div class="bread"><a href="{% url 'list'%}">الرئيسية </a>  &rsaquo;{{product.name}} </div>
        <div class="bigtitle">{{product.name}}</div>
      </div>
      <div class="col-md-3 col-md-offset-5">

      </div>
    </div>
  </div>
</div>




<!-- <div class="col-md-9">
  <!-Main content--> 
  <div id="title-bg">
    <div class="title">{{product.name}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="dt-img">
        <div class="detpricetag"><div class="inner">SR{{product.price}}</div></div>
        <a class="fancybox" href="{{product.image.url}}" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="{{product.image.url}}" alt="" class="img-responsive" /></a>
      </div>
    </div>
  
          <div class="col-md-6 det-desc">
            <div class="productdata">

              <div class="infospan" id="category" name="{{product.category.id}}">{{product.category}} <span>الفصيلة</span></div>
              <div class="infospan" id='product' name={{product.id}}>{{product.name}} <span>اﻻسم</span></div>
              {% if product.price and product.before_price %}
                <div class="infospan">{{product.before_price}} <span>السعرالقديم</span></div>
                <div class="infospan"> {{product.price}}<span>السعر بعد الخصم</span></div>
              {% else %}
                <div class="infospan">{{product.price}} <span>السعر</span></div>
              {% endif %}
            </div>
            <div class="average">

            </div>


            <h4>الخيارات المتاحة</h4>

            <form id="add-to-cart"class="form-horizontal ava" role="form">
              {% csrf_token %}
              <!-- <div class="form-group">
                <label for="size" class="col-sm-2 control-label">الحجم</label>
                <div class="col-sm-10">
                  <select class="form-control" id="سهئث">
                    <option>Blank 1</option>
                    <option>Blank 2</option>
                    <option>Blank 3</option>
                    <option>Blank 4</option>
                    <option>Blank 5</option>
                  </select>
                </div>
                <div class="clearfix"></div>
                <div class="dash"></div>
              </div>
              <div class="form-group">
                <label for="color" class="col-sm-2 control-label">اللون</label>
                <div class="col-sm-10">
                  <select class="form-control" id="color">
                    <option>Blank 1</option>
                    <option>Blank 2</option>
                    <option>Blank 3</option>
                    <option>Blank 4</option>
                    <option>Blank 5</option>
                  </select>
                </div>
                <div class="clearfix"></div>
                <div class="dash"></div>
              </div> -->
              <div class="form-group">
                <label for="qty" class="col-sm-2 control-label">الكمية</label>
                <div class="col-sm-4">
                  <select class="form-control" id="qty">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <button class="btn btn-default btn-red btn-sm" ><span class="addchart">اضف الى السلة</span></button>
                </div>
                <div class="clearfix"></div>
              </div>
            </form>

            <div class="sharing">
              <div class="share-bt">
                <div class="addthis_toolbox addthis_default_style ">
                  <a class="addthis_counter addthis_pill_style"></a>
                </div>
                <!-- <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f0d0827271d1c3b"></script> -->
                <div class="clearfix"></div>
              </div>
              <div class="avatock"><span>متوفر</span></div>
            </div>

          </div>
        </div>
        <!-- </div> -->

        <div class="tab-review">

          <!-- <div ><ul id="myTab" class="nav nav-tabs shop-tab"> -->
          <!-- <li class="active"><a href="#desc" data-toggle="tab">Description</a></li> -->
          <!-- </ul> -->

          <!-- </div> -->
          <div id="myTabContent" class="tab-content shop-tab-ct">


            <div class="tab-pane fade active in" id="desc">
              <legend>description</legend>
              <p>
           {{product.desc}}
              </p>
           
            </div>
            <div class="tab-pane fade" id="rev">
              <p class="dash">
                <span>Jhon Doe</span> (11/25/2012)<br/><br/>
                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
              </p>
              <h4>Write Review</h4>
              <form role="form">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" >
                </div>
                <div class="form-group">
                  <textarea class="form-control" id="text" ></textarea>
                </div>
                <div class="form-group">
                  <div class="rate"><span>Rating:</span></div>
                  <div class="starwrap">
                    <div id="default"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <button type="submit" class="btn btn-default btn-red btn-sm">Submit</button>
              
              </form>
            </div>
          </div>
        </div>

        <div id="title-bg">

        </div>

        <div class="spacer"></div>
      </div><!--Main content-->







      <script type="text/javascript">

        $(document).ready(function() {
         $("#add-to-cart").submit(function(event){
          event.preventDefault();
          cat = document.getElementById('category').getAttribute('name')
          product_id = document.getElementById('product').getAttribute('name')
          qty = document.getElementById('qty').value
          
          $.ajax({
           type:"POST",
           url:"/cart/add",
           data: {
             csrfmiddlewaretoken:'{{csrf_token}}' ,
             product_id: product_id,
             qty: qty
             

           },
           success: function(status){
             console.log('status : ' + status)
             if (status == '1'){              
               table = document.getElementById('cart-table');
               row = table.insertRow()
               cell1 = row.insertCell(0);
               cell2 = row.insertCell(1);
               cell3 = row.insertCell(2);
               cell4 = row.insertCell(3);
               cell5 = row.insertCell(4);
               //cell6 = row.insertCell(5);

              qty1 = document.getElementById('qty').value;

               cell1.innerHTML = '<img src="{{product.image.url}}" alt="" class="img-responsive"/>';
               cell2.innerHTML = '{{product.name}}';
               cell3.innerHTML = qty1;
               cell4.innerHTML = '{{product.price}}';
               cell5.innerHTML = '<a href=""><i class="fa fa-times-circle fa-2x"></i></a>';
               total='{{total}}';
               
               //total='{{total}}'
               
               qty1= parseInt(qty1, 10) * parseInt('{{product.price}}', 10);
               
               //cell6.innerHTML = total;
              total= parseInt(total, 10) + parseInt(qty1, 10);
               // update cart total price 
              s1.innerHTML=total;
              s2.innerHTML=total;
              $.notify("تم إضافة المنتج لسلتك", 'success')
             }else {
              $.notify("المنتج موجود فى السلة بالفعل", 'info')
             }
           }
         });
            return false; //<---- move it here
          });

       });
      </script>

      {% endblock %}