/*Start import fonts*/
@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(http://fonts.googleapis.com/earlyaccess/lateef.css); 
@import url(http://fonts.googleapis.com/earlyaccess/scheherazade.css);
@import url(http://fonts.googleapis.com/earlyaccess/thabit.css);

*{
  direction:rtl;
  color:#444;
}

h3{
   padding:5px;
}

.amiri{font-family: 'Amiri', serif;}
.droid-arabic-kufi{font-family: 'Droid Arabic Kufi', serif;}
.droid-arabic-naskh{font-family: 'Droid Arabic Naskh', serif;}
.lateef{font-family: 'Lateef', serif;}
.scheherazade{font-family: 'Scheherazade', serif;}
.thabit{font-family: 'Thabit', serif;}
.sidebaritems{font-family: 'Droid Arabic Kufi', serif;}



/*End of fonts */


.menu-icon{
    background-position: right;
}
.price {
    text-decoration: line-through;
    color: gray;
}

.after_price {
    font-weight: bold;
    color: red;
}

.sidebar {
    right: 0;
    left:auto !important;
    padding: 2px !important;
}


@media (min-width: 768px) {
.sidebar {
    right: 0;
    }
}

.sidebar li {
    display: block;
    width: 100%;
}
.sidebar li a{
    font-family: 'Droid Arabic Kufi', serif;
    font-weight: bold;
}
.sidebar li a:hover{
    background-color: #D2D2D2;

}
.nav li {
    font-family: 'Droid Arabic Kufi', serif;
}
* {
  font-family: 'Droid Arabic Kufi', serif;  
}
/*
.navbar-inverse .navbar-nav>li>a:hover{
    background-color: #3C3535;
}

.navbar-inverse .navbar-nav>li>a:active{
    background-color: #3C3535;
}
*/
.thumbnail .caption > h3 {
    width: 290px;
    overflow: hidden;
    line-height: 40px;
}


.thumbnail-special {
    background-color: #FBEEEE;
}

/*
.owl-carousel .owl-wrapper-outer {
height: 212px;
}
*/
html,body {
    height:100%;
}   