<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>صفقات</title>

	<!-- Fonts -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'> -->
	<link href='{{ STATIC_URL }}font-awesome/css/font-awesome.css' rel="stylesheet" type="text/css">
	<!-- Bootstrap -->
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet">

        <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" />
	<!-- Main Style -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
	
	<!-- owl Style -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/owl.carousel.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/owl.transitions.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/public.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/notify.js"></script>


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <scri src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <div class="notification"></div>
      <div id="wrapper">
        <div class="header"><!--Header -->
         <div class="container">
          <div class="row">
           <div class="col-xs-6 col-md-4 main-logo">
            <a href="{% url 'list'%}"><img src="{{ STATIC_URL }}images/logo.png" alt="logo" class="logo img-responsive" /></a>
          </div>
          <div class="col-md-8">
            <div class="pushright">
             <div class="top">
              {% if not user.is_authenticated %}

              <a href="#" id="reg" class="btn btn-default btn-dark">دخول<span>-- أو --</span>تسجيل</a>
              <div class="regwrap">

                <div class="row">
                  <div class="col-md-6 regform">
                    <div id="title-widget-bg">
                      <div class="title-widget">دخول</div>
                    </div>
                    <form role="form" action="{% url 'login' %}" method="post">
                      <div class="form-group">
                        <input type="text" class="form-control" name="username" id="username" placeholder="اسم المستخدم" />
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="كلمة المرور" />
                      </div>
                      {% csrf_token %}
                      <div class="form-group">
                        <button class="btn btn-default btn-red btn-sm">دخول</button>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6">
                    <div id="title-widget-bg">
                      <div class="title-widget">حساب جديد</div>
                    </div>
                    <p>
                      ﻻنشاء حساب جديد اضغط هنا
                    </p>
                    <!-- <button class="btn btn-default btn-yellow">Register Now</button> -->
                    <a href="{% url 'register' %}" class="btn btn-default btn-yellow">حساب جديد</a>
                  </div>
                </div>
              </div>
              {% else %}
              <a href="{%url 'logout'%}" class="btn btn-default btn-dark">مرحبا: {{user.get_username}}<span>----</span>خروج</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashed"></div>
  </div><!--Header -->







  <div class="main-nav"><!--end main-nav -->

   <div class="navbar navbar-default navbar-static-top">
    <div class="container">
     <div class="row">
      <div class="col-md-10">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
     </div>
     <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
       <li><a href="{% url 'list' %}" class="active">الرئيسية</a> <div class="curve"></div></li>

       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">المنتجات<b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% for category in categories %}
          <li><a href="{% url 'show-category' category_id=category.id %}">{{category.name}}</a></li>
          {% endfor %}	
        </ul>
      </li>
      <li><a href="{% url 'contact' %}">اتصل بنا</a></li>
      <li><a href="{% url 'about' %}">من نحن</a></li>

    </ul>
  </div>
</div>
<div class="col-md-2 machart">
 <button id="popcart" class="btn btn-default btn-chart btn-sm "><span class="mychart menu-icon">سلتى</span>|<span id="s2" class="allprice">${{total}}</span></button>
 <div class="popcart">
   <div id="cart-table-div">
    <table id="cart-table" class="table table-condensed popcart-inner">
     <tbody>
      {% for item in cart.items %}
      <tr>
        <td>

          <img src="{{item.product.image.url}}" alt="" class="img-responsive"/>
        </td>
        <td>{{item.product.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.subtotal}}</td>
        <td><a href="#" class="remove" id="{{item.product.id}}"><i class="fa fa-times-circle fa-2x"></i></a></td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
<br/>
<div class="btn-popcart">
  {% if not user.is_superuser %}
  <a href="{% url 'show-cart' %}" class="btn btn-default btn-red btn-sm">عرض السلة</a>
  {% endif%}
  <a href="{% url 'clear-cart' %}" class="btn btn-default btn-red btn-sm">تفريغ السلة</a>
</div>
<div class="popcart-tot">
 <p>
  Total<br/>
  <span id="s1">${{total}}</span>
</p>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
</div>
</div>
</div><!--end main-nav -->

<div class="container">
 <ul class="small-menu"><!--small-nav -->
  {%  if user.is_authenticated  %}
  <li><a href="{% url 'editprofile' %}" class="myacc menu-icon">حسابى</a></li>
  {% endif %}
  <li><a href="{% url 'show-cart' %}"  class="myshop menu-icon">سلتى</a></li>
  {%  if user.is_authenticated  %}
  <li><a href="{% url 'transactions-list' %}"  class="mycheck menu-icon">مشترياتى</a></li>
  {% endif %}

</ul><!--small-nav -->
<div class="clearfix"></div>
<div class="lines"></div>



</div>



<div class="container">
 <div class="row">
  <div class="col-md-12"><!--Main content-->
    {% block content %}{% endblock %}
  </div><!--Main content-->
  <!-- sidebar -->
</div>
</div>

<div class="f-widget"><!--footer Widget-->

</div><!--footer Widget-->
<div class="footer"><!--footer-->
 <div class="container">
  <div class="row">
   <div dir="rtl" class="col-md-9">
    <ul class="footermenu" ><!--footer nav-->


     <li><a href="{% url 'contact' %}">اتصل بنا</a></li>
     <li><a href="{% url 'transactions-list' %}">مشترياتى</a></li>

     <li><a href="{% url 'checkout' %}">الدفع</a></li>
     <li><a href="{% url 'show-cart' %}">سلتى</a></li>
     <li><a href="{% url 'list' %}">الرئيسية</a></li>
   </ul><!--footer nav-->
   <div class="f-credit">جميع الحقوق محفوظة &copy;</div>
 </div> 
        <div class="col-md-3"><!--footer Share-->
          <div class="followon">Follow us on</div>
          <div class="fsoc">
            <a href="https://twitter.com/svqat " class="ftwitter">twitter</a>
            <a href="https://www.facebook.com/svqat.svqat.1" class="ffacebook">facebook</a>
        
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div><!--footer Share-->


</div>
<div class="row">
<div class="col-md-9"></div>
<div class="col-md-3">
<ul class="footermenu" >
تحميل التطبيق
<li><a href="">IOS</a> </li> 
<li><a href="">Android</a> </li> 
</ul>
</div>
<div>
</div>
</div>




<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

<!-- map -->
<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>  -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.map.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL }}js/demo.js"></script>

<!-- owl carousel -->
<script src="{{ STATIC_URL }}js/aaaa.js"></script>

<!-- rating -->
<script src="{{ STATIC_URL }}js/rate/jquery.raty.js"></script>
<script src="{{ STATIC_URL }}js/labs.js" type="text/javascript"></script>

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="{{ STATIC_URL }}js/product/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- fancybox -->
<script type="text/javascript" src="{{ STATIC_URL }}js/product/jquery.fancybox.js?v=2.1.5"></script>

<!-- custom js -->
<script src="{{ STATIC_URL }}js/shop.js"></script>
<script type="text/javascript">
  $('.remove').click(function(e){
    console.log('clicked')
    e.preventDefault();
    product_id = $(this).attr('id')
    $.ajax({
     url: "{% url 'remove-from-cart' %}",
       type: "POST",//type of posting the data
       data: {
        csrfmiddlewaretoken:'{{csrf_token}}',
        product_id: product_id
      },
      success: function (data) {
       console.log(data)
       location.reload()
     },
     error: function(xhr, ajaxOptions, thrownError){
      console.log('error')
    },
       timeout : 15000//timeout of the ajax call
     });

  });
</script>
</div>
</body>
</html>
