{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <link href="{{ STATIC_URL }}css/bootstrap-arabic.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/public.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-dashboard.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    


<title>
Last Offer | {% block title %}{% endblock %}
</title>
</head>
<body style="{background-color: #eee;}">

<div class="header"><!--Header -->
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-4 main-logo">
          <a href="index.html"><img src="images/logo.png" alt="logo" class="logo img-responsive" /></a>
        </div>
        <div class="col-md-8">
          <div class="pushright">
            <div class="top">
              <a href="#" id="reg" class="btn btn-default btn-dark">Login<span>-- Or --</span>Register</a>
              <div class="regwrap">
                <div class="row">
                  <div class="col-md-6 regform">
                    <div id="title-widget-bg">
                      <div class="title-widget">Login</div>
                    </div>
                    <form role="form">
                      <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="password">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-default btn-red btn-sm">Sign In</button>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6">
                    <div id="title-widget-bg">
                      <div class="title-widget">Register</div>
                    </div>
                    <p>
                      New User? By creating an account you be able to shop faster, be up to date on an order's status...
                    </p>
                    <button class="btn btn-default btn-yellow">Register Now</button>
                  </div>
                </div>
              </div>
              <div class="srch-wrap">
                <a href="#" id="srch" class="btn btn-default btn-search"><i class="fa fa-search"></i></a>
              </div>
              <div class="srchwrap">
                <div class="row">
                  <div class="col-md-12">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="search" class="col-sm-2 control-label">Search</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="search">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashed"></div>
  </div>

<!-- end header-->


<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="right-sidebar">
                {% block side_block %}


  <ul class=" nav nav-pills" role="tablist" list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;>

  <li  display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;><a href="{%url 'list' %}">الرئيسية</a></li>               
  <li  display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;><a href="{% url 'logout' %}">تسجيل خروج</a></li>
  <li><a href="{% url 'add'%}">إضافة عرض</a></li>
</ul>
                {% endblock %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
           
                {% block content %}{% endblock %}
           
        </div>
      </div>
    </div>

 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
       <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-lock" />
      </a>
        
          <ul class="nav navbar-nav">
                <li><a href="{%url 'list' %}">الرئيسية</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">تسجيل خروج</a></li>
                        <li><a href="{% url 'add'%}">إضافة عرض</a></li>
                    {% else %}
                        <li><a href="{% url 'register'%}">تسجيل</a></li>
                        <li><a href="{% url 'login' %}">تسجيل الدخول</a></li>
                    {% endif %}
              </ul>
        
      </div>
      </div
    </nav>




    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-arabic.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>



    







</body>
</html>