
  			<div class="main-slide">
  				<div id="sync1" class="owl-carousel">
  					<div class="item">
  						<div class="slide-desc">
  							<div class="inner">
  								<h1>Stylish Jacket, be your best deal</h1>
  								<p>
  									Nunc non fermentum nunc. Sed ut ante eget leo tempor consequat sit amet eu orci. Donec dignissim dolor eget..
  								</p>
  								<button class="btn btn-default btn-red btn-lg">Add to cart</button>
  							</div>
  							<div class="inner">
  								<div class="pro-pricetag big-deal">
  									<div class="inner">
  										<span class="oldprice">$314</span>
  										<span>$199</span>
  										<span class="ondeal">Best Deal</span>
  									</div>
  								</div>
  							</div>
  						</div>
  						<div class="slide-type-1">
  							<img src="{{ STATIC_URL }}images/dummy-1500x700.png" alt="" class="img-responsive"/>
  						</div>
  					</div>
  					<div class="item">
  						<div class="slide-type-1">
  							<img src="{{ STATIC_URL }}images/dummy-1500x700.png" alt="" class="img-responsive"/>
  						</div>
  					</div>
  					<div class="item">
  						<div class="slide-type-1">
  							<img src="{{ STATIC_URL }}images/dummy-1500x700.png" alt="" class="img-responsive"/>
  						</div>
  					</div>
  					<div class="item">
  						<div class="slide-type-1">
  							<img src="{{ STATIC_URL }}images/dummy-1500x700.png" alt="" class="img-responsive"/>
  						</div>
  					</div>
  					<div class="item">
  						<div class="slide-type-1">
  							<img src="{{ STATIC_URL }}images/dummy-1500x700.png" alt="" class="img-responsive"/>
  						</div>
  					</div>
  					<div class="item">
  						<div class="slide-type-1">
  							<img src="{{ STATIC_URL }}images/dummy-1500x700.png" alt="" class="img-responsive"/>
  						</div>
  					</div>
  				</div>
  			</div>
        <div class="bar"></div>
        <div id="sync2" class="owl-carousel">
          <div class="item">
            <div class="slide-type-1-sync">
              <h3>Some title here</h3>
              <p>Description here here here</p>
            </div>
          </div>
          <div class="item">
            <div class="slide-type-1-sync">
              <h3>Some title here</h3>
              <p>Description here here here</p>
            </div>
          </div>
          <div class="item">
            <div class="slide-type-1-sync">
              <h3>Some title here</h3>
              <p>Description here here here</p>
            </div>
          </div>
          <div class="item">
            <div class="slide-type-1-sync">
              <h3>Some title here</h3>
              <p>Description here here here</p>
            </div>
          </div>
          <div class="item">
            <div class="slide-type-1-sync">
              <h3>Some title here</h3>
              <p>Description here here here</p>
            </div>
          </div>
          <div class="item">
            <div class="slide-type-1-sync">
              <h3>Some title here</h3>
              <p>Description here here here</p>
            </div>
          </div>
        </div>


        <div class="f-widget featpro">
        <div class="container">
          <div id="title-widget-bg">
            <div class="title-widget">Featured Products</div>
            <div class="carousel-nav">
              <a class="prev"></a>
              <a class="next"></a>
            </div>
          </div>
          <div id="product-carousel" class="owl-carousel owl-theme">
            <div class="item">
              <div class="productwrap">
                <div class="pr-img">
                  <div class="hot"></div>
                  <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                  <div class="pricetag blue"><div class="inner"><span>$199</span></div></div>
                </div>
                <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                <span class="smalldesc">Item no.: 1000</span>
              </div>
            </div>
            <div class="item">
              <div class="productwrap">
                <div class="pr-img">
                  <div class="new"></div>
                  <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                  <div class="pricetag on-sale"><div class="inner on-sale"><span class="onsale"><span class="oldprice">$314</span>$199</span></div></div>
                </div>
                <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                <span class="smalldesc">Item no.: 1000</span>
              </div>
            </div>
            <div class="item">
              <div class="productwrap">
                <div class="pr-img">
                  <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                  <div class="pricetag blue"><div class="inner"><span>$199</span></div></div>
                </div>
                <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                <span class="smalldesc">Item no.: 1000</span>
              </div>
            </div>
            <div class="item">
              <div class="productwrap">
                <div class="pr-img">
                  <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                  <div class="pricetag blue"><div class="inner"><span>$199</span></div></div>
                </div>
                <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                <span class="smalldesc">Item no.: 1000</span>
              </div>
            </div>
            <div class="item">
              <div class="productwrap">
                <div class="pr-img">
                  <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                  <div class="pricetag blue"><div class="inner"><span>$199</span></div></div>
                </div>
                <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                <span class="smalldesc">Item no.: 1000</span>
              </div>
            </div>
            <div class="item">
              <div class="productwrap">
                <div class="pr-img">
                  <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                  <div class="pricetag blue"><div class="inner"><span>$199</span></div></div>
                </div>
                <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                <span class="smalldesc">Item no.: 1000</span>
              </div>
            </div>
            <div class="item">
              <div class="productwrap">
                <div class="pr-img">
                  <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                  <div class="pricetag blue"><div class="inner"><span>$199</span></div></div>
                </div>
                <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                <span class="smalldesc">Item no.: 1000</span>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="container">
        <div class="row">
          <div class="col-md-9"><!--Main content-->
            <div id="title-bg">
              <div class="title">About Shopping</div>
            </div>
            <p class="ct">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p class="ct">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="" class="btn btn-default btn-red btn-sm">Read More</a>

            <div id="title-bg">
              <div class="title">Lastest Products</div>
            </div>
            <div class="row prdct"><!--Products-->
              <div class="col-md-4">
                <div class="productwrap">
                  <div class="pr-img">
                    <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                    <div class="pricetag on-sale"><div class="inner on-sale"><span class="onsale"><span class="oldprice">$314</span>$199</span></div></div>
                  </div>
                  <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                  <span class="smalldesc">Item no.: 1000</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="productwrap">
                  <div class="pr-img">
                    <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                    <div class="pricetag"><div class="inner">$199</div></div>
                  </div>
                  <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                  <span class="smalldesc">Item no.: 1000</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="productwrap">
                  <div class="pr-img">
                    <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                    <div class="pricetag"><div class="inner">$199</div></div>
                  </div>
                  <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                  <span class="smalldesc">Item no.: 1000</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="productwrap">
                  <div class="pr-img">
                    <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                    <div class="pricetag"><div class="inner">$199</div></div>
                  </div>
                  <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                  <span class="smalldesc">Item no.: 1000</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="productwrap">
                  <div class="pr-img">
                    <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                    <div class="pricetag"><div class="inner">$199</div></div>
                  </div>
                  <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                  <span class="smalldesc">Item no.: 1000</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="productwrap">
                  <div class="pr-img">
                    <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                    <div class="pricetag"><div class="inner">$199</div></div>
                  </div>
                  <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                  <span class="smalldesc">Item no.: 1000</span>
                </div>
              </div>
            </div><!--Products-->
            <div class="spacer"></div>
          </div><!--Main content-->
          <div class="col-md-3"><!--sidebar-->
            <div id="title-bg">
              <div class="title">Categories</div>
            </div>

            <div class="categorybox">
              <ul>
                <li><a href="category.html">Women Accessories</a></li>
                <li><a href="category.html">Men Shoes</a></li>
                <li><a href="category.html">Gift Specials</a></li>
                <li><a href="category.html">Electronics</a>
                  <ul>
                    <li><a href="#">iPhone 4S</a></li>
                    <li><a href="#">Samsung Galaxy</a></li>
                    <li><a href="#">MacBook Pro 17"</a></li>
                  </ul>
                </li>
                <li><a href="category.html">On sale</a></li>
                <li><a href="category.html">Summer Specials</a></li>
                <li><a href="category.html">Electronics</a></li>
                <li class="lastone"><a href="category.html">Unique Stuff</a></li>
              </ul>
            </div>

            <div class="ads">
            </div>

          </div><!--sidebar-->
        </div>
      </div>


  <div id="title-bg">
              <div class="title">About Shopping</div>
            </div>
            <p class="ct">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p class="ct">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="" class="btn btn-default btn-red btn-sm">Read More</a>

            <div id="title-bg">
              <div class="title">Lastest Products</div>
            </div>
            <div class="row prdct"><!--Products-->
              <div class="col-md-4">
                <div class="productwrap">
                  <div class="pr-img">
                    <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                    <div class="pricetag on-sale"><div class="inner on-sale"><span class="onsale"><span class="oldprice">$314</span>$199</span></div></div>
                  </div>
                  <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                  <span class="smalldesc">Item no.: 1000</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="productwrap">
                  <div class="pr-img">
                    <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                    <div class="pricetag"><div class="inner">$199</div></div>
                  </div>
                  <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                  <span class="smalldesc">Item no.: 1000</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="productwrap">
                  <div class="pr-img">
                    <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                    <div class="pricetag"><div class="inner">$199</div></div>
                  </div>
                  <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                  <span class="smalldesc">Item no.: 1000</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="productwrap">
                  <div class="pr-img">
                    <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                    <div class="pricetag"><div class="inner">$199</div></div>
                  </div>
                  <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                  <span class="smalldesc">Item no.: 1000</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="productwrap">
                  <div class="pr-img">
                    <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                    <div class="pricetag"><div class="inner">$199</div></div>
                  </div>
                  <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                  <span class="smalldesc">Item no.: 1000</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="productwrap">
                  <div class="pr-img">
                    <img src="{{ STATIC_URL }}images/dummy-1.png" alt="" class="img-responsive"/>
                    <div class="pricetag"><div class="inner">$199</div></div>
                  </div>
                  <span class="smalltitle"><a href="product.html">Nikon Camera</a></span>
                  <span class="smalldesc">Item no.: 1000</span>
                </div>
              </div>
            </div><!--Products-->
            <div class="spacer"></div>

  <div class="container">
          <div class="row">
            <div class="col-md-4"><!--footer twitter widget-->
              <div id="title-widget-bg">
                <div class="title-widget">Twitter Updates</div>
              </div>
              <ul class="tweets">
                <li>Check out this great #themeforest item for you
                  'Simpler Landing' <a href="#">http://t.co/LbLwldb6 </a>
                  <span>2 hours ago</span></li>
                  <li class="lastone">Check out this great #themeforest item for you
                    'Simpler Landing' <a href="#">http://t.co/LbLwldb6 </a>
                    <span>2 hours ago</span></li>
                  </ul>
                  <div class="clearfix"></div>
                  <a href="#" class="btn btn-default btn-follow"><i class="fa fa-twitter fa-2x"></i><div>Follow us on twitter</div></a>
                </div><!--footer twitter widget-->
                <div class="col-md-4"><!--footer newsletter widget-->
                  <div id="title-widget-bg">
                    <div class="title-widget">Newsletter Signup</div>
                  </div>
                  <div class="newsletter">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <form role="form">
                      <div class="form-group">
                        <label>Your Email address</label>
                        <input type="email" class="form-control newstler-input" id="exampleInputEmail1" placeholder="Enter email">
                        <button class="btn btn-default btn-red btn-sm">Sign Up</button>
                      </div>
                    </form>
                  </div>
                </div><!--footer newsletter widget-->
                <div class="col-md-4"><!--footer contact widget-->
                  <div id="title-widget-bg">
                    <div class="title-widget-cursive">Shopping</div>
                  </div>
                  <ul class="contact-widget">
                    <li class="fphone">+387 123 456, +387 123 456 <br /> +387 123 456</li>
                    <li class="fmobile">+387-123-456-1<br />+387-123-456-2</li>
                    <li class="fmail lastone">your@email.com<br />customer.care@mail.com</li>
                  </ul>
                </div><!--footer contact widget-->
              </div>
              <div class="spacer"></div>
            </div>